@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/Fonts/Linotype - AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/Fonts/Linotype - AvenirNextLTPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/Fonts/Linotype - AvenirNextLTPro-Demi.otf") format("opentype");
}

* {
  font-family: "Avenir-Regular";
}

.main__nav-bar {
  background-color: #323232;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__header-org {
    height: 80px;
  }
}

@media screen and (min-width: 769px) {
  .main__header-org {
    height: 80px;
  }
}

.main__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__logo-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__logo {
  padding-top: 5%;
}

.main__nav-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__nav-bar-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__nav-bar-list {
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) {
  .main__nav-bar-list {
    font-size: 16px;
  }
}

.main__nav-bar-list-item {
  color: white;
}

.main__bio-border {
  border-bottom: 2px solid white;
}

.main__hero {
  background-image: url(../assets/Images/hero-bandsite.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__hero {
    height: 400px;
  }
}

@media screen and (min-width: 769px) {
  .main__hero {
    height: 670px;
  }
}

.main__hero-title {
  color: white;
  background-color: rgba(50, 50, 50, 0.5);
  font-family: "Avenir-Bold";
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__hero-title {
    font-size: 24px;
    line-height: 32px;
    padding: 10% 5%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__hero-title {
    font-size: 60px;
    line-height: 68px;
    padding: 15% 5%;
  }
}

@media screen and (min-width: 769px) {
  .main__hero-title {
    font-size: 60px;
    line-height: 68px;
    padding: 20% 10%;
  }
}

.main__wrap {
  padding: 32px 16px;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .main__wrap {
    padding: 32px 142px;
  }
}

.main__info-title {
  font-family: "Avenir-Bold";
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__info-title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (min-width: 769px) {
  .main__info-title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__bio-image {
    width: 288px;
    height: 145px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__bio-image {
    width: 90%;
    height: 10%;
  }
}

@media screen and (min-width: 769px) {
  .main__bio-image {
    width: 95%;
    height: 15%;
  }
}

.main__info-quote {
  font-family: "Avenir-Demi";
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__info-quote {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-quote {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 769px) {
  .main__info-quote {
    font-size: 24px;
    line-height: 32px;
  }
}

.main__info-quote-person {
  font-family: "Avenir-Demi";
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__info-quote-person {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-quote-person {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 769px) {
  .main__info-quote-person {
    font-size: 24px;
    line-height: 32px;
  }
}

.main__info-bio-title {
  font-family: "Avenir-Demi";
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__info-bio-title {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-bio-title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 769px) {
  .main__info-bio-title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__para-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .main__para-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-bio-one {
    margin-right: 24px;
  }
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__para-size {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__para-size {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 769px) {
  .main__para-size {
    font-size: 14px;
    line-height: 22px;
  }
}

.main__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .main__gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main__gallery-title {
  font-family: "Avenir-Bold";
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__gallery-title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__gallery-title {
    font-size: 36px;
    line-height: 44px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 769px) {
  .main__gallery-title {
    font-size: 36px;
    line-height: 44px;
  }
}

.main__gallery-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__gallery-image {
    width: 288px;
    height: 162px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__gallery-image {
    width: 26%;
    margin: 24px;
  }
}

@media screen and (min-width: 769px) {
  .main__gallery-image {
    width: 27%;
    margin: 24px;
  }
}

.main__footer {
  background-color: #323232;
  color: white;
  padding: 5%;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__footer-first-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) {
  .main__footer-first-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

.main__footer-header {
  font-family: "Avenir-Bold";
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__footer-header {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__footer-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (min-width: 769px) {
  .main__footer-header {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__footer-icon-padding {
    padding-left: 6%;
  }
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__footer-logo {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 425px) {
  .main__footer-info-holder {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__footer-info-holder {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 769px) {
  .main__footer-info-holder {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__footer-second-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .main__footer-second-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main__footer-contact-names {
  font-family: "Avenir-Bold";
}
/*# sourceMappingURL=main.css.map */