// font-face
@font-face {
    font-family: "Avenir-Regular";
    src: url("../assets/Fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Avenir-Bold";
    src: url("../assets/Fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Avenir-Demi";
    src: url("../assets/Fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf") format("opentype");
}

//default font
* {
    font-family: "Avenir-Regular";
}

// font variables
$font-bold: "Avenir-Bold";
$font-demi: "Avenir-Demi";

// mobile text size and line height variables
$header-text-mobile: 24px;
$header-line-mobile: 32px;
$subheader-text-mobile: 14px;
$subheader-line-mobile: 22px;
//paragraphs and lists and contact info have the same text size and line height
$paragraph-text-mobile: 13px;
$paragraph-line-mobile: 18px;
$labels-text-mobile: 12px;
$labels-line-mobile: 20px;

// tablet and desktop text size and line height variables
$hero-header-text-desk: 60px;
$hero-header-line-desk: 68px;
$header-one-text-desk: 36px;
$header-one-line-desk: 44px;
$header-two-text-desk: 24px;
$header-two-line-desk: 32px;
$subheader-text-desk: 16px;
$subheader-line-desk: 24px;
// lists and contact info text size is the same as paragraph text size
$paragraph-text-desk: 14px;
$paragraph-line-desk: 22px;
$lists-line-desk: 20px;
$labels-text-desk: 12px;
$labels-line-desk: 20px;

// media query variables
$max-mobile-width: 426px;
$max-tablet-width: 769px;
$desktop-width: "screen and (min-width: #{$max-tablet-width})";

// mixins with media queries
@mixin mobile() {
    @media screen and (min-width: 0px) and (max-width: $max-mobile-width - 1) {
        @content;
    }
}

@mixin tablet() {
    @media screen and (min-width: $max-mobile-width) and (max-width: $max-tablet-width - 1) {
        @content;
    }
}

@mixin desktop() {
    @media #{$desktop-width} {
        @content;
    }
}

// other mixins


// styling

.main {
    
    &__nav-bar {
        background-color: #323232;

        @include mobile() {
        display: flex;
        flex-direction: column;
        }

        @include tablet() {}
    }

    &__header-org {
        @include tablet() {
            height: 80px;
        }

        @include desktop() {
            height: 80px;
        }
    }

    &__logo-link {
        display: flex;
        align-items: center;
        padding: 5%;

        @include mobile() {
            justify-content: center;
        }
    }

    &__logo {
        padding-top: 5%;
    }

    &__nav-bar-list {
        display: flex;
        
        @include mobile() {
            justify-content: space-around;
            align-items: center;
            font-size: $subheader-text-mobile;
        }

        @include tablet() {
            font-size: $subheader-text-desk;
        }

        @include desktop() {
            font-size: $subheader-text-desk;
        }
    }

    &__nav-bar-list-item {
        color: white;
    }

    &__bio-border {
        border-bottom: 2px solid white;
    }
    
    &__hero {
        // fits all screen sizes
        background-image: url(../assets/Images/hero-bandsite.jpg);
        background-size: cover;
        background-position: center;

        @include tablet() {
            height: 400px;
        }

        @include desktop() {
            height: 670px;
        }
    }

    &__hero-title {
        color: white;
        background-color: rgba(50, 50, 50, 0.5);
        font-family: $font-bold;

        @include mobile() {
            font-size: $header-text-mobile;
            line-height: $header-line-mobile;
            padding: 10% 5%;
        }

        @include tablet() {
            font-size: $hero-header-text-desk;
            line-height: $hero-header-line-desk;
            padding: 15% 5%;
        }

        @include desktop() {
            font-size: $hero-header-text-desk;
            line-height: $hero-header-line-desk;
        }
    }

    &__wrap {
        padding: 32px 16px;

        @include mobile() {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__info-title {
        font-family: $font-bold;

        @include mobile () {
            font-size: $header-text-mobile;
            line-height: $header-line-mobile;
        }

        @include tablet() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }

        @include desktop() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }

    }

    &__bio-image {
        @include mobile () {
            width: 288px;
            height: 145px;
        }

        @include tablet() {
            width: 90%;
            height: 10%;
        }

        @include desktop() {
            width: 95%;
            height: 15%;
        }
    }

    &__info-quote {
        font-family: $font-demi;

        @include mobile () {
            font-size: $subheader-text-mobile;
            line-height: $subheader-line-mobile;
        }

        @include tablet() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }

        @include desktop() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }
    }

    &__info-quote-person {
        font-family: $font-demi;

        @include mobile () {
            font-size: $subheader-text-mobile;
            line-height: $subheader-line-mobile;
        }

        @include tablet() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }

        @include desktop() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }
    }

    &__info-bio-title {
        font-family: $font-demi;

        @include mobile () {
            font-size: $subheader-text-mobile;
            line-height: $subheader-line-mobile;
        }

        @include tablet() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }

        @include desktop() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }
    }

    &__para-location {
        @include tablet() {
            display: flex;
        }
    }

    &__info-bio-one {
        @include tablet() {
            margin-right: 24px;
        }
    }

    &__para-size {
        @include mobile () {
            font-size: $paragraph-text-mobile;
            line-height: $paragraph-line-mobile;
        }

        @include tablet() {
            font-size: $paragraph-text-desk;
            line-height: $paragraph-line-desk;
        }

        @include desktop() {
            font-size: $paragraph-text-desk;
            line-height: $paragraph-line-desk;
        }
    }

    &__gallery {
        display: flex;
        
        @include mobile () {
           flex-direction: column;
        }

        @include tablet() {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include desktop () {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
    }

    &__gallery-title {
        font-family: $font-bold;

        @include mobile () {
            font-size: $header-text-mobile;
            line-height: $header-line-mobile;
        }

        @include tablet() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
            margin-left: 32px;
        }

        @include desktop() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }
    }

    &__gallery-image {
        display: flex;
        flex-direction: column;

        @include mobile () {
            width: 288px;
            height: 162px;
            margin-bottom: 16px;
        }

        @include tablet() {
            width: 26%;
            margin: 24px;
        }

        @include desktop() {
            width: 30%;
            margin: 24px;
        }
    }

    &__footer {
        background-color: #323232;
        color: white;
        padding: 5%;
    }

    &__footer-first-section {
        @include tablet() {
            display: flex;
            justify-content: space-between;
        }
    }

    &__footer-header {
        font-family: $font-bold;

        @include mobile () {
            font-size: $header-text-mobile;
            line-height: $header-line-mobile;
        }

        @include tablet() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }

        @include desktop() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }   
    }

    &__footer-icon-padding {
        @include mobile() {
            padding-left: 6%;
        }
    }

    &__footer-logo {
        @include mobile() {
            display: none;
        }
    }

    &__footer-info-holder {
        @include mobile () {
            font-size: $paragraph-text-mobile;
            line-height: $paragraph-line-mobile;
        }

        @include tablet() {
            font-size: $paragraph-text-desk;
            line-height: $lists-line-desk;
        }

        @include desktop() {
            font-size: $paragraph-text-desk;
            line-height: $lists-line-desk;
        }        
    }

    &__footer-second-section {
        @include tablet() {
            display: flex;
            justify-content: space-between;
        }
    }

    &__footer-contact-names {
        font-family: $font-bold;
    }
}